@media only screen and (max-width: 768px) {
    .contenedor {
      display: flex;
      flex-direction: column; /* Filas */
      align-items: center;
      justify-content: center;
    }
    
    .columna {
      width: 100%; /* Columnas completas */
      margin-bottom: 20px;
    }
    
    .fila {
      display: flex;
      flex-direction: row; /* Filas */
      justify-content: space-around;
    }
    
    .elemento {
      width: 50%; /* Elementos dentro de filas */
      margin: 10px;
    }
  }