@import"../utilities/variables"

.section-botones{
    background-color: red;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    .boton-1{
        background-color:$color-azul
        padding:15px;
        color: white;
        text-decoration:$text-none
        font-family:$fuente-prinsipal
}
a:last-child{
    @extend .boton-1;
    margin-left: 15px; 
    
}
}