@media screen and (min-width: 320px) and (max-width: 325px) {
  .videos{
    width: 100%;
  }
  
  header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
 }
 header h1{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 20px;
 }
 header img{
  width: 50%;
 }
 header ul li {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 5px;
  
 }
  .ejercicio{
    align-self: flex-end;
  }
  .polea{
    align-self: flex-end;
  }
  .imagenes4{
    display: grid;
    align-items: center;
    justify-content: space-between;
  }
  .grid-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    gap: 25px;
    row-gap: 25px;
    img{
      width: 100%;
      justify-content: space-between;
      margin: 25px;
    } 
    video{
      width: 100%;
      justify-content: space-between;
      margin: 25px;
    }
    h1{
      margin: 25px;
      align-self: flex-start;
    }
    p{
      align-self: flex-end;
    }
  }
  .item-1{
     grid-column: 1/2;
     gap: 25px;
     row-gap: 25px; 
     padding: 25px;
     h1{
      margin: 25px;
     }

  }
  .item-2{
    grid-column: 1/2;
    gap: 25px;
    row-gap: 25px;
    padding: 25px;
    h1{
      margin: 25px;
    } 
  }
  .item-3{
    grid-column: 1/2;
    gap: 25px;
    row-gap: 25px; 
    padding: 25px;
    h1{
      margin: 25px;
    }
  }
  .grid-area{
    border: 10x solid white;
    margin: 25px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas:
     "gym-1"
     "gym-2"
     "gym-3" ;
  }
  .grid-tem01{
    grid-area: gym-1;

  }
  .grid-tem02{
    grid-area: gym-2;
    video{
      width: 40%;
          
    }
  }
  .grid-tem03{
    grid-area: gym-3;
  }
  
    
  
  
  }
    .anuncio{
      display: flex;
      
      
    }
    .triceps-1{
      
    }
  .triceps-2{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
  .biceps{
      
      width: 100%;
    }
    .triceps{
      width: 100%;
      
    }
    .section-container{
      display: flex;
      flex-direction: column;
      justify-content: center;
      
    }
    .div-2 {
        img{
            width: 100%;
          }
    }
    main{
      div{
        img{
          flex-direction: column;
        }
      }
    }
   
  

      