.caja1,.caja2,.caja3{
    width: 5rem;
    height: 5rem;
    background-color: red;
}
.caja2{
    background-color: blue;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center ;
}
@media only screen and (min-width: 600px){
    .container{
        flex-direction: row;
        justify-content: center;
    }

}
@media only screen and(min-width: 700px){
    .container{
        justify-content: space-between;
    }

}